/* Style generals*/
* {
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

body{background-color: var(--fillPage);}

html {scroll-behavior: smooth;}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--blue);
}
body::-webkit-scrollbar-thumb {
    border-left: 2px solid var(--blue);
    border-right: 2px solid var(--blue);
    background-color: #f5f5f591;
    border-radius: 6px;
}

body::-moz-progress-bar {background-color: red;}

i {font-weight: 700;}

*::selection {
    background-color: #c4c4c4b6;
    color: #3d3d3d;
}
:root {
    /* --azul: #3144F1; */
    --blue: #1F618D;
    --green: #00E081;
    --blue-scrooll: #1f618d5e;
    --trasparente: #d1d1d141;
    --fillPage: #F5F5F5;

    /* color icons */
    --html: #E34F26;
    --css: #0088CC;
    --js: #F0DB4F;
    --worp: #23282D;
    --figma: #222222;
    --boost: #563D7C;
    --jq: #0769AD;
    --git: #24292E;
    --gitH: #F14E32;
    --php: #777BB4;
    
    --parrafos-font-weight: 300;
    --title-font-weight: 700;
    --title-font-size: 24px;
    --letter-spacing: 3px;
    --parrafos-spacing: 8px;

    --tarjet-width: 200px;
    --tarjet-height: 150px;
    --widthOla: 130px;
    --headerSize: 1.2em;
}








/* Father Style */
.start {
    width: 100%;
    height: 100vh;
    background: url(fill-Briefcase.png) no-repeat fixed center/cover;
    color: #fff;
    text-align: center;

    position: relative;

    display: flex;
    flex-flow: column wrap;
    row-gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.start__svg {
    width: 100%;
    height: var(--widthOla); 
    overflow: hidden;

    position: absolute;
    bottom: -40px;
}

.area {
    width: 100%;
    padding: 20vh 1.25em;
    margin-bottom: 2.5em;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.area:after{ 
    content: " ";
    width: 15%;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    bottom: 1.0625em;
    left: 40%;
}

.hability, .aboutMe, .contact {
    flex-wrap: wrap;
    gap: 1.875em 20%;
}

.tecnology, .proyect{
    flex-direction: column;
    row-gap: 4.375em;
}

.contact {row-gap: 4em;}

.contact:after{
    content: " ";
    width: 15%;
    height: 2px;
    background-color: var(--blue);

    position: absolute;
    bottom: .5em;
    left: 40%;
}

.footer {
    width: 100%;
    height: 79vh;
    background: url(fill-Briefcase.png) no-repeat fixed center/cover var(--blue);

    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-content: center;
    justify-content: space-around;
}
 
.footer__svg {
    width: 100%;
    height: 8.75em;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: -3px;
}















/* Style Childs */
.menuButton {display: none; position: relative;}
.menuButton__nav-a {
    width: 150px;
    height: 50px;
    padding: 0 15px;
    background-color: var(--blue);
    border-radius: 30px;
    color: var(--fillPage);
    font-weight: 500;

    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;
}
.menuButton__icon {width: 22%;}
.menuButton__icon-2 {width: 20.7%;}
.menuButton__nav-a:nth-child(2) {
    right: -300%;
    top: 100px;
}

.menuButton__nav-a:nth-child(3) {
    top: 170px;
    right: -340%;
}
.menuButton__nav-a:nth-child(4) {
    top: 240px;
    right: -380%;
}
.menuButton__nav-a:nth-child(5) {
    top: 310px;
    right: -420%;
}
.menuButton__nav-a:nth-child(6) {
    top: 380px;
    right: -460%;
}



.header {
    width: 100%;
    padding: 1.2rem;
    font-weight: 500;
    transition: .8s all;

    position: fixed;
    top: 0;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__scroll {
    padding: .9em 1.2em;
    background-color: var(--fillPage);
    box-shadow: 0 1px 10px #1f618d42;
}

.header__li-a {
    padding: 0.4375em 0.6875em;
    margin-left: 1em;
    color: #fff;
    font-weight: 600;
    display: inline-block;

    position: relative;
}

.header__li-a::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: #c2c1c150;
    backdrop-filter: blur(0.125em);
    border-radius: 0 5px 5px 0;

    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
}

.header__li-a::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: #c2c1c150;
    backdrop-filter: blur(.125em);
    border-radius: 5px 0 0 5px;

    position: absolute;
    right: 50%;
    bottom: 0;
    z-index: 0;
}

.header__li-a:hover::after {
    width: 50%;
    transition: width .7s;
}

.header__li-a:hover::before {
    width: 50%;
    transition: width .7s;
}

.header__a {
    padding: 7px 11px;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    
    position: relative;
    right: -15%;
    overflow: hidden;
}

.iconMenu {display: none;}

.header__a-span, .header__a--span {
    position: relative;
    z-index: 3;
}

.header__a::after {
    content: "";
    width: 100%;
    height: 5em;
    background-color:#00E081;
    border-radius: 0 0 18.75px 18.75px;

    position: absolute;
    z-index: 1;
    top: -5em;
    left: 0;
    transition: top .6s ease-in-out;
}

.header__a:hover::after {
    top: 0;
}

.new__a {
    padding: 7px 11px;
    border-radius: 7px;
    color: #1F618D;
    font-weight: 600;
    
    position: relative;
    right: -15%;
    overflow: hidden;
}

.new__a:after {
    content: "";
    width: 100%;
    height: 5em;
    background-color:#00E081;
    border-radius: 0 0 18.75px 18.75px;

    position: absolute;
    z-index: 1;
    top: -5em;
    left: 0;
    transition: top .6s ease-in-out;
}

.new__a:hover::after,
.new__a:hover .header__a--span {
    top: 0;
    color: var(--fillPage);
}

.start__iconFirst-circle {
    width: 186px;
    height: 186px;
    background-color: #34343463;
    backdrop-filter: blur(2px);
    border-radius: 50%;

    display: flex;
}

.firstIcon {margin: auto; width: 47%;}

.inicio__h1 {
    font-size: 37px;
    font-weight: 800;
}

.inicio__p {
    font-size: 1.2rem;
    font-weight: 500;
    word-spacing: var(--parrafos-spacing);
    padding: 0 7px;
}

.inicio__a {font-size: 25px;}
.fa-angle-double-down {
    background-image: linear-gradient(15deg, 
    transparent, #ffffff80, #fafafafa, 
    transparent, #ffffff80, #fffffffa, 
    transparent, #ffffff80, #fffffffa,
    transparent, #ffffff80, #fffffffa, 
    transparent, #ffffff80, #fffffffa, 
    transparent, #ffffff80, #fffffffa);
    background-size: 7000%;
    -webkit-background-clip: text;
    color: transparent;
    animation: fond-anim 10s linear infinite;
}

@keyframes fond-anim {
    0% {background-position: left;}
    100% {background-position: right;}
}

.aboutMe__illustration {padding: 0 4.96875em;}

.aboutMe__text-h2 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    margin-bottom: 20px;
    letter-spacing: var(--letter-spacing);
}

.aboutMe__text-p {
    color: #343434;
    font-weight: var(--parrafos-font-weight);
}

.hability__h5 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-bottom: 1.25em;
    letter-spacing: var(--letter-spacing);
}

.hability__ul {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.hability__ul-li{
    display: flex;
    align-items: center;
}

.hability__p {
    color: #343434;
    font-weight: var(--parrafos-font-weight);
}

.fa-circle {
    margin-right: 10px;
    font-size: 10px;
    display: inline-block;
}

.tecnology__h3 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    letter-spacing: var(--letter-spacing);
    margin-left: 16%;
}

.tecnology__div {
    width: 68%;
    min-width: 260px;

    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
}

.tecnology__logos {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
.tecnology__icon {
    width: 57%;
    height: 57%;
}
.tecnology__logos:nth-child(1) {background-color: var(--html);}
.tecnology__logos:nth-child(2) {background-color: var(--css);}
.tecnology__logos:nth-child(3) {background-color: var(--js);}
.tecnology__logos:nth-child(4) {background-color: var(--worp);}
.tecnology__logos:nth-child(5) {background-color: var(--figma);}
.tecnology__logos:nth-child(6) {background-color: var(--boost);}
.tecnology__logos:nth-child(7) {background-color: var(--jq);}
.tecnology__logos:nth-child(8) {background-color: var(--git);}
.tecnology__logos:nth-child(9) {background-color: var(--gitH);}
.tecnology__logos:nth-child(10) {background-color: var(--php);}

.project__h3 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    letter-spacing: var(--letter-spacing);
    margin-left: 150px;
}

.project__div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.targets {
    min-width: var(--tarjet-width);
    height: var(--tarjet-height);
    outline: 2px solid #c4c4c4b6;
    border-radius: 15px;
    flex-grow: 2;
}

.conteinerIllustration {
    width: 250px;
    height: 250px;
    border: 3px solid var(--blue); 
    border-radius: 50%;

    display: flex;
}

/* 186 */

.illustration {
    width: 70%;
    height: 70%;
    border-radius: inherit;
    margin: auto;
    background-color: var(--blue);
    backdrop-filter: blur(0.125em);
    display: inherit;
}

.illustration img {
    width: 50%;
    margin: auto;
}

.form {
    width: 45%;
    min-width: 25rem;
    max-width: 49.8125em;

    display: flex;
    flex-direction: column;
    row-gap: 2.8125em;
    justify-content: space-around;
}

.form__h3 {margin: 0;}

.form__input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 12px;
    font-size: 17px;
    font-weight: 500;
    color: #343434;
    border-bottom: 3px solid #3434341f;
}

.textArea {
    height: 40px; 
    max-width: 100%; 
    min-width: 100%; 
    max-height: 200px; 
    min-height: 60px;
}

.label__textarea {
    width: 100%;

    position: relative;
}

.label__textarea:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 0 30px 30px 0;

    position: absolute;
    left: 50%;
    bottom: 4px;
}
.label__textarea:before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 30px 0 0 30px;

    position: absolute;
    right: 50%;
    bottom: 4px;
}

.label__textarea:hover::after, 
.label__textarea:hover::before {
    width: 50%;
    transition: width .7s;
}

.form__label {
    width: 100%;

    position: relative;
}

.form__label:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 0 30px 30px 0;

    position: absolute;
    left: 50%;
    bottom: 0;
}
.form__label:before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 30px 0 0 30px;

    position: absolute;
    right: 50%;
    bottom: 0;
}


.form__label:hover:after {
    width: 50%;
    transition: width .7s;
}
.form__label:hover:before {
    width: 50%;
    transition: width .7s;
}

.form__label:focus:before {width: 50%;}
.form__label:focus:after {width: 50%;}

.form__buttom {
    width: 100px;
    padding: 10px;
    margin: auto;
    outline: none;
    border: none;
    background: none;
    border-radius: 30px;
    color: #747474;
    font-weight: 500;
}

.form__buttom:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: #fff;
    transition: background-color 1s;
}
/* ------------------------------------------------------ */












.footer__icons {
    font-size: 24px;
}

.footer__icons-a {
    color: #fff;
    padding: 7px 11px;
}

.fab, .fas {
    font-size: 1.2em;
    /* color: #fff; */
}


/* --------------------------------------------------------------------------------- Media Queries */
@media screen and (max-width: 54.5em){
    .aboutMe__text, .hability__h5, .tecnology__h3, .project__h3 {text-align: center;}
    .aboutMe__text {width: 100%;}
}

@media screen and (max-width: 47.75em){
    .header, .header__li{
        display: none;
    }
    .tecnology__div {width: 67%;}
    .tecnology__logos{width: 100px; height: 100px;}
    .menuButton {
        width: 4.375em;
        height: 4.375em;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: var(--blue-scrooll);
        backdrop-filter: blur(2px);
        display: block;
        cursor: pointer;
        
        position: fixed;
        top: 5%;
        right: 5%;
        z-index: 1;
    }
    .br {display: none;}
}

@media screen and (max-width: 29.125em){
    .inicio__p {display: none;}
    .conteinerIllustration {border: transparent;}
    .illustration{background-color: transparent; }
    .illustration img {
        width: 90%;
    }
    .form {min-width: 16.4rem;}
    /* body {background-color: #000;} */
}