/* Style generals*/
* {
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

body{background-color: var(--fillPage);}

html {scroll-behavior: smooth;}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--blue);
}
body::-webkit-scrollbar-thumb {
    border-left: 2px solid var(--blue);
    border-right: 2px solid var(--blue);
    background-color: #f5f5f591;
    border-radius: 6px;
}

body::-moz-progress-bar {background-color: red;}

i {font-weight: 700;}

*::selection {
    background-color: #c4c4c4b6;
    color: #3d3d3d;
}
:root {
    /* --azul: #3144F1; */
    --blue: #1F618D;
    --green: #00E081;
    --blue-scrooll: #1f618d5e;
    --trasparente: #d1d1d141;
    --fillPage: #F5F5F5;
    
    --parrafos-font-weight: 300;
    --title-font-weight: 600;
    --title-font-size: 24px;
    --letter-spacing: 3px;
    --parrafos-spacing: 8px;

    --tarjet-width: 200px;
    --tarjet-height: 150px;
    --widthOla: 130px;
    --headerSize: 1.2em;
}








/* Father Style */
.start {
    width: 100%;
    height: 100vh;
    background: url(fill-Briefcase.png) no-repeat fixed center/cover;
    color: #fff;
    text-align: center;

    position: relative;

    display: flex;
    flex-flow: column wrap;
    row-gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.start__svg {
    width: 100%;
    height: var(--widthOla); 
    overflow: hidden;

    position: absolute;
    bottom: -40px;
}

.area {
    width: 100%;
    padding: 20vh 1.25em;
    margin-bottom: 2.5em;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.area:after{ 
    content: " ";
    width: 15%;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    bottom: 1.0625em;
    left: 40%;
}

.hability, .aboutMe, .contact {
    flex-wrap: wrap;
    gap: 1.875em 20%;
}

.tecnology, .proyect{
    flex-direction: column;
    row-gap: 4.375em;
}

.contact {row-gap: 4em;}

.contact:after{
    content: " ";
    width: 15%;
    height: 2px;
    background-color: var(--blue);

    position: absolute;
    bottom: .5em;
    left: 40%;
}

.footer {
    width: 100%;
    height: 79vh;
    background: url(fill-Briefcase.png) no-repeat fixed center/cover var(--blue);

    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-content: center;
    justify-content: space-around;
}
 
.footer__svg {
    width: 100%;
    height: 8.75em;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: -3px;
}















/* Style Childs */
.menuButton {display: none;}
.header {
    width: 100%;
    padding: 1.2rem;
    font-weight: 500;
    transition: .8s all;

    position: fixed;
    top: 0;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__scroll {
    padding: .9em 1.2em;
    background-color: var(--blue);
    backdrop-filter: blur(2px);
}

.header__li-a {
    padding: 0.4375em 0.6875em;
    margin-left: 1em;
    color: #fff;
    font-weight: 600;
    display: inline-block;

    position: relative;
}

.header__li-a::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: #c2c1c150;
    backdrop-filter: blur(0.125em);
    border-radius: 0 5px 5px 0;

    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0;
}

.header__li-a::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: #c2c1c150;
    backdrop-filter: blur(.125em);
    border-radius: 5px 0 0 5px;

    position: absolute;
    right: 50%;
    bottom: 0;
    z-index: 0;
}

.header__li-a:hover::after {
    width: 50%;
    transition: width .7s;
}

.header__li-a:hover::before {
    width: 50%;
    transition: width .7s;
}

.header__li-a:active::after {width: 50%;}

.header__a {
    padding: 7px 11px;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
    
    position: relative;
    right: -15%;
    overflow: hidden;
    transition: 1s ease-in-out color;
}

.iconMenu {display: none;}

.header__a-span {
    position: relative;
    z-index: 3;
}

.header__a::after {
    content: "";
    width: 100%;
    height: 5em;
    background-color:#00E081;
    border-radius: 0 0 18.75px 18.75px;

    position: absolute;
    z-index: 1;
    top: -5em;
    left: 0;
    transition: .4s ease-in-out all;
}

.header__a:hover::after {
    top: 0;
}

.start__iconFirst-circle {
    width: 186px;
    height: 186px;
    background-color: #34343463;
    backdrop-filter: blur(2px);
    border-radius: 50%;

    display: flex;
}

.firstIcon {margin: auto; width: 47%;}

.inicio__h1 {
    font-size: 37px;
    font-weight: 800;
}

.inicio__p {
    font-size: 1.2rem;
    font-weight: 500;
    word-spacing: var(--parrafos-spacing);
    padding: 0 7px;
}

.aboutMe__illustration {padding: 0 4.96875em;}

.aboutMe__text-h2 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    margin-bottom: 20px;
    letter-spacing: var(--letter-spacing);
}

.aboutMe__text-p {
    color: #343434;
    font-weight: var(--parrafos-font-weight);
}

.hability__h5 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-bottom: 1.25em;
    letter-spacing: var(--letter-spacing);
}

.hability__ul {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.hability__ul-li{
    display: flex;
    align-items: center;
}

.hability__p {
    color: #343434;
    font-weight: var(--parrafos-font-weight);
}

.fa-circle {
    margin-right: 10px;
    font-size: 10px;
    display: inline-block;
}

.tecnology__h3 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    letter-spacing: var(--letter-spacing);
    margin-left: 16%;
}

.tecnology__div {
    width: 67.5%;
    min-width: 355px;

    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(115px, 130px));
    grid-template-rows: repeat(2, auto);
    justify-content: center;
}

.project__h3 {
    color: var(--blue);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    letter-spacing: var(--letter-spacing);
    margin-left: 150px;
}

.project__div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.targets {
    min-width: var(--tarjet-width);
    height: var(--tarjet-height);
    outline: 2px solid #c4c4c4b6;
    border-radius: 15px;
    flex-grow: 2;
}

.conteinerIllustration {
    width: 250px;
    height: 250px;
    border: 3px solid var(--blue); 
    border-radius: 50%;

    display: flex;
}

/* 186 */

.illustration {
    width: 70%;
    height: 70%;
    border-radius: inherit;
    margin: auto;
    background-color: var(--blue);
    backdrop-filter: blur(0.125em);
    display: inherit;
}

.illustration img {
    width: 50%;
    margin: auto;
}

.form {
    width: 25rem;
    /* outline: 1px solid black; */

    display: flex;
    flex-direction: column;
    row-gap: 2.8125em;
    justify-content: space-around;
}

.form__h3 {margin: 0;}

.form__input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 12px;
    font-size: 14px;
    color: #343434;
    border-bottom: 3px solid #3434341f;
}

/* .form__input:focus .label__textarea::after{background-color: red;} */

.textArea {height: 40px; max-width: 100%; min-width: 100%; max-height: 166px; min-height: 39px;}

.label__textarea {
    width: 400px;

    position: relative;
}

.label__textarea:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 0 30px 30px 0;

    position: absolute;
    left: 50%;
    bottom: 4px;
}
.label__textarea:before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 30px 0 0 30px;

    position: absolute;
    right: 50%;
    bottom: 4px;
}

.label__textarea:hover::after, 
.label__textarea:hover::before {
    width: 50%;
    transition: width .7s;
}

.form__label {
    width: 400px;

    position: relative;
}

.form__label:after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 0 30px 30px 0;

    position: absolute;
    left: 50%;
    bottom: 0;
}
.form__label:before {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    border-radius: 30px 0 0 30px;

    position: absolute;
    right: 50%;
    bottom: 0;
}


.form__label:hover:after {
    width: 50%;
    transition: width .7s;
}
.form__label:hover:before {
    width: 50%;
    transition: width .7s;
}

.form__label:focus:before {width: 50%;}
.form__label:focus:after {width: 50%;}

.form__buttom {
    width: 100px;
    padding: 10px;
    margin: auto;
    outline: none;
    border: none;
    background: none;
    border-radius: 30px;
    color: #747474;
    font-weight: 500;

    transition: background-color 1s;
}

.form__buttom:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: #fff;
}
/* ------------------------------------------------------ */












.footer__icons {
    font-size: 24px;
}

.footer__icons-a {
    color: #fff;
    padding: 7px 11px;
}

.fab, .fas {
    font-size: 1.2em;
    color: #fff;
}


/* --------------------------------------------------------------------------------- Media Queries */
@media screen and (max-width: 54.5em){
    .aboutMe__text, .hability__h5, .tecnology__h3, .project__h3 {text-align: center;}
    .aboutMe__text {width: 100%;}
}

@media screen and (max-width: 47.75em){
    .header, .header__li{
        display: none;
    }
    .menuButton {
        width: 4.375em;
        height: 4.375em;
        border: none;
        border-radius: 50%;
        outline: none;
        background-color: var(--blue-scrooll);
        backdrop-filter: blur(2px);
        display: block;
        cursor: pointer;
        
        position: fixed;
        top: 5%;
        right: 5%;
        z-index: 1;
    }
    .br {display: none;}
}

@media screen and (max-width: 29.125em){
    .inicio__p {display: none;}
}